* {
    background:             #2E3440;
    background-alt:         #3B4252;
    foreground:             #EEEEEE;
    selected:               #88C0D0;
    urgent:                 #5E81AC;
    on:                     #8FBCBB;
    off:                    #81A1C1;
}
 
